*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    
}
#bovenkant{
    height: 50%;
    width: 100%;
    display: flex;
    background-color: greenyellow;
}
#linksboven{
    width: 30%;
    background-color:blue;
    display: inline-block;
}
#rechtsboven{
    width: 70%;
    background-color: white;
    display: inline-block;
}

#onderkant{
    width: 100%;
    height: 50%;
    background-color: red;
}
