ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    border: solid 1px black;
}
#li{
    width: 100%;
}
li a{
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: top;
}
#all{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: inline-flex;   
}
#table, th, tr,td {
    border: 1px solid darkblue;
    background-color: lightpink;
    color: black;
     display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60%;
    text-align: center;
}